<div class="row">
    <div class="col-md-12">
        <div class="leads-table-row"><span>Leads to be Acknowledged:</span>
            <table class="table table-striped table-bodered">
                <thead>
                    <tr>
                        <th>Sender FB ID</th>
                        <th>Query for</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                {{#each leads as |lead key|}}
                    <tr>
                        <td>{{lead.sender}}</td>
                        <td>{{lead.entity}}</td>
                        <td>{{lead.email}}</td>
                        <td>{{lead.phone}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>