<div class="row push-notify">
    <div class="col-md-2">
        Push :
    </div>
    <div class="col-md-8">
        <textarea class="push message-input" rows="4" placeholder="Please type the content to be push notified." style="width:100%;"></textarea>
    </div>
    <div class="col-md-2">
        <button class="btn btn-success push" onclick="pushNotify()">Push Notify.</button>
    </div>
</div>