<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
<script type="text/javascript" src="js/templates.js"></script>

<body>

    <header class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand">Lead Generator Bot</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-content">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item leads">
                    <a class="nav-link" href="#" onclick="loadLeads()">Leads</a>
                </li>
                <li class="nav-item schedules">
                    <a class="nav-link" href="#" onclick="loadSchedules()">Schedules</a>
                </li>
                <li class="nav-item push-messages">
                    <a class="nav-link" href="#" onclick="loadPushMessages()">Push Messages</a>
                </li>
            </ul>

        </div>

    </header>

    <div class="container-fluid">
        <div style="display: flex ; align-items: center; justify-content: center;height:100%;width:auto;">
        <div class="console-body">
        </div>
    </div>
    </div>
    <footer>
    </footer>

    <script type="text/javascript">
//    jQuery(function(){
//       jQuery('button.push').on('click', function(){
//           var val = jQuery('textarea.push').val();
//           if(val && val != ''){
//               var d = {'data' : val};
//               jQuery.ajax({
//                   url : '/push',
//                   headers : {'Content-Type' : 'application/json'},
//                   method : 'POST',
//                   data : JSON.stringify(d),
//                   success : function(ok, success){
//                       if(ok === "ok" && success === "success" ){
//                           alert("")
//                       }
//                   },
//                   error : function(){
//                       alert('We met with some error, please try again later!');
//                       console.log(arguments);
//                   }
//               });
//           }
//       });
//    });

    function inactivateAllNav(){
        var items = document.querySelectorAll("#nav-content .nav-link");
        for(var i = 0; i < items.length; i++){
            items[i].parentElement.classList.remove('active');
        }
    }

    function activateNav(nav_list_class){
        document.querySelector('.'+nav_list_class).classList.add('active');
    }

    function loadBodyWithTemplate(handlebar_template, data){
        document.querySelector('.console-body').innerHTML = Handlebars.templates[handlebar_template](data);
    }

    function loadLeads(){
        inactivateAllNav();

        jQuery.ajax({
            url : '/api/leads',
            success : function(data){
               loadBodyWithTemplate('leads', {'leads' : data});
            },
            error : function(){
                loadBodyWithTemplate('leads', {'leads' : []});
                alert('service temporarily unavailable');
            }
        });
        activateNav('leads');
    }

    function loadSchedules(){
        inactivateAllNav();
        loadBodyWithTemplate('schedules', {'schedules' : [
                            {id : 112121, message : 'varun@abcd.com', day : 'Thursday'},
                            {id : 112121, message : 'varun@abcd.com', day : 'Friday'}
                            ]});
        jQuery.ajax({
            url : '/api/schedules',
            success : function(data){
               loadBodyWithTemplate('schedules', {'schedules' : data});
            },
            error : function(){
                loadBodyWithTemplate('schedules', {'schedules' : []});
                alert('service temporarily unavailable');
            }
        });
        activateNav('schedules');
    }

    function loadPushMessages(){
        inactivateAllNav();
        loadBodyWithTemplate('push_messages');
        activateNav('push-messages');
    }

    function addSchedule(){
        var row = document.querySelector('.add-schedule');
        var message = row.querySelector('.message-input').value;
        var day = row.querySelector('.schedule-selector').value;
        var obj = {'message':message, 'day':day};
        jQuery.ajax({
            url : '/api/schedules',
            headers : {'Content-Type' : 'application/json'},
            method : 'POST',
            type : 'POST',
            data : JSON.stringify(obj),
            success : function(input, success){
               alert('Task successfully added! Notifications will be sent to subscribers as per schedule.');
               loadSchedules();
            },
            error : function(){
                alert('Error while adding Task, please try again later.');
            }
        });
    }

    function updateSchedule(id){
        var row = document.querySelector('#schedule_'+id);
        var message = row.querySelector('.message-input').value;
        var day = row.querySelector('.schedule-selector').value;
        jQuery.ajax({
            url : '/api/schedules/'+id,
            type : 'PUT',
            data : JSON.stringify({'message':message, 'day':day}),
            headers : {'Content-Type' : 'application/json'},
            method : 'PUT',
            success : function(input, success){
               alert('Task updated successfully!');
               loadSchedules();
            },
            error : function(){
                alert('Error while updating Task, please try again later.');
            }
        });
    }

    function deleteSchedule(id){
        jQuery.ajax({
            url : '/api/schedules/'+id,
            type : 'DELETE',
            method : 'DELETE',
            success : function(input, success){
               alert('Task dropped successfully!');
               loadSchedules();
            },
            error : function(){
                alert('Error while dropping Task, please try again later.');
            }
        });
    }

    function pushNotify(){
        var row = document.querySelector('.push-notify');
        var message = row.querySelector('.message-input').value;
        var obj = {'message':message};
        jQuery.ajax({
            url : '/push_notify',
            headers : {'Content-Type' : 'application/json'},
            method : 'POST',
            type : 'POST',
            data : JSON.stringify(obj),
            success : function(input, success){
               alert('Push notification sent successfully to all subscribers.');
               loadSchedules();
            },
            error : function(){
                alert('Error while sending push notification, please try again later.');
            }
        });
    }

    (function(){
        //do all document onload related stuff here
       loadLeads();
       Handlebars.registerHelper('select', function( value, options ){
           var $el = jQuery('<select />').html( options.fn(this) );
           $el.find('[value="' + value + '"]').attr({'selected':'selected'});
           return $el.html();
       });
    })();
    </script>
</body>
